// Mixins
@mixin universal-styles {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
}

// Animation
@keyframes moveInFromTop {
    0% { /* start */
        opacity: 0; /* the element is invisible */
        transform: translateY(-2rem); /* moves up across the y-axis */
    }

    50% { /* middle */
        opacity: .5; /* the element is slighly visible */
    }

    100% { /* finish */
        opacity: 1;
        transform: translate(0); /* the way it looks right now */
    }
}

// Media Query Manager
/*
[0 - 600px          Mobile phone - default]
600 - 900px         Tablet portrait
900 - 1200px        Tablet landscape
1200 - 1800px       Desktop computer
1800px +            Big desktop computer
*/

@mixin respond($breakpoint) {
    @if $breakpoint == tablet-portrait {
        @media only screen and (min-width: 48em) { @content }; // 768px
    }

    @if $breakpoint == tablet-landscape {
        @media only screen and (min-width: 64em) { @content }; // 1024px
    }

    @if $breakpoint == desktop {
        @media only screen and (min-width: 75em) { @content }; // 1200px
    }

    @if $breakpoint == desktop-big {
        @media only screen and (min-width: 112.5em) { @content }; // 1800px
    }
}

// Utilities
.u-center-text {
    text-align: center;
}

.u-text-italic {
    font-style: italic;
}

.u-margin-bottom-small {
    margin-bottom: 1rem;
}

.u-margin-bottom-medium {
    margin-bottom: 2rem;
}

.u-margin-bottom-big {
    margin-bottom: 4rem;
}

// Colours
$color-light: #fff; // white
$color-dark: #181818; // black
$color-green: #2afc9b;
$color-yellow: #fcf39a;
$color-blue: #23cbfb;

// Font
$font-default: "Helvetica";
$font-size-default: 1.6rem; /* 16px, used across the website */

// Universal styles
* {
    @include universal-styles;
}

html {
    font-size: 62.5%; /* root font size of 10px / default font size of 16px */

    @include respond(tablet-portrait) {
        font-size: 65%; // 1 rem = 10.4px, 10.4/16 = 65%
    }

    @include respond(desktop) {
        font-size: 70%; // 1 rem = 12px, 12/16 = 75%
    }
}

body {
    color: $color-light;
    background-color: $color-dark;
    font-family: $font-default;
    font-size: $font-size-default;

    @include respond(desktop) {
       max-width: 1040px;
       margin: 0 auto;
    }
}

// Header
.header {
    @include respond(desktop) {
        margin-bottom: 1rem;
    }
}

.logo {
    display: flex;
    align-items: center;

    &__image {
        height: 3rem;
        margin-right: 1rem;
    }

    &__text {
        text-transform: uppercase;
        font-size: 3.5rem;
        font-weight: 700;
        letter-spacing: 1px;

        @include respond(desktop) {
            margin-right: 1rem;
        }
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem;

    @include respond(desktop) {
        padding: .4rem 0;
    }

    &__icons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 2.5rem;

        @include respond(desktop) {
            display: none;
        }
    }

    &__icon--plus {
        color: $color-green;
    }

    &__icon--person {
        color: $color-yellow;
    }

    &__icon--menu {
        color: $color-blue;
    }

    &__quick-nav--small {
        width: 35%;
        display: flex;
        align-items: center;

        @include respond(desktop) {
            display: none;
        }
    }

    &__quick-nav--big {
        display: none;

        @include respond(desktop) {
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__links {
        display: none;

        @include respond(desktop) {
            width: 65%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            list-style-type: none;
        }
    }

    &__link {
        @include respond(desktop) {
            font-weight: bold;
            font-size: 1.1rem;
            padding: .7rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }

    &__link--1 {
        @include respond(desktop) {
            border-bottom: solid 5px #00b5ff;
        }
    }

    &__link--2 {
        @include respond(desktop) {
            border-bottom: solid 5px #527aff;
        }
    }

    &__link--3 {
        @include respond(desktop) {
            border-bottom: solid 5px #6765ff;
        }
    }

    &__link--4 {
        @include respond(desktop) {
            border-bottom: solid 5px #8a42ff;
        }
    }

    &__link--5 {
        @include respond(desktop) {
            border-bottom: solid 5px #d542c6;
        }
    }

    &__link--6 {
        @include respond(desktop) {
            border-bottom: solid 5px #d943c2;
            cursor: pointer;
        }
    }   

    &__button {
        @include respond(desktop) {
            padding: 1rem;
            border: none;
            background-color: #6b62ff;
            color: $color-light;
            font-weight: bold;

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }

    &__login {
        display: flex;
    }

    &__login-icon-container {
        display: flex;
        align-items: center;
        padding-right: 1rem;
        background-color: #525252;
        padding: 0 1rem;
    }

    &__button--login {
        font-size: 1.3rem;
        background-color: #3e3e3e;
        padding: 1rem;
    }
}

// Dropdown Menu
.dropdown {
    @include respond(desktop) {
        margin-top: 1rem;
    }

    &__sections {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        background-image: linear-gradient(
            to bottom,
            #d943c2,
            #ce3dd0,
            #be3bdf,
            #a93def,
            #8a42ff
        );

        @include respond(desktop) {
            flex-direction: row;
            justify-content: space-between;
            background-image: linear-gradient(
                to right,
                #d943c2,
                #ce3dd0,
                #be3bdf,
                #a93def,
                #8a42ff
            );
        }
    }

    &__heading {
        padding-bottom: 1rem;
        border-bottom: solid 1px rgba($color-light, .5);
    }

    &__section--categories {
        margin-bottom: 2rem;

        @include respond(tablet-portrait) {
            width: 90%;
            margin: 0 auto;
            margin-bottom: 2rem;
        }

        @include respond(desktop) {
            width: 30%;
            margin-right: 2rem;
            margin-bottom: -2rem;
        }
    }

    &__section--stickers {
        margin-bottom: 2rem;

        @include respond(tablet-portrait) {
            width: 90%;
            margin: 0 auto;
            margin-bottom: 2rem;
        }

        @include respond(desktop) {
            width: 20%;
            margin-right: 2rem;
            margin-bottom: -2rem;
        }
    }

    &__section--apps {
        margin-bottom: 2rem;

        @include respond(tablet-portrait) {
            width: 90%;
            margin: 0 auto;
            margin-bottom: 2rem;
        }

        @include respond(desktop) {
            width: 20%;
            margin-right: 2rem;
            margin-bottom: -2rem;
        }
    }

    &__section--about {

        @include respond(tablet-portrait) {
            width: 90%;
            margin: 0 auto;
        }

        @include respond(desktop) {
            width: 30%;
        }
    }

    &__links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 1.5rem;
    }

    &__links--animated {
        animation: moveInFromTop .8s ease-out; /* animation name, duration, timing function, delay */
    }

    &__link {
        list-style-type: none;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__copyright {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.5rem;
        padding: 2rem;
        background-color: #9718eb;
        margin-bottom: 2rem;

        @include respond(desktop) {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 1.5rem;
            padding: 2rem 3rem;
            background-image: linear-gradient(
                to right,
                #d830bf,
                #ce25d1,
                #b51bdb,
                #9718eb,
                #6c12fd
            );
        }
    }

    &__copyright-year {
        margin-bottom: 1rem;

        @include respond(desktop) {
            width: 15%;
            font-weight: bold;
            padding-right: 3rem;
            margin-right: 3rem;
            margin-bottom: 0;
            border-right: solid 1px rgba($color-light, .5);
        }
    }

    &__copyright-links {
        list-style-type: none;

        @include respond(desktop) {
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style-type: none;
        }
    }

    &__copyright-link {
        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        @include respond(desktop) {
            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 0;
            }
        }
    }
}

// Dropdown Menu for Mobile
.dropdown-mobile {
    display: block;
    margin-top: 1rem;

    &__sections {
        display: flex;
        justify-content: space-between;
        padding: 3rem;
        background-image: linear-gradient(
            to right,
            #d943c2,
            #ce3dd0,
            #be3bdf,
            #a93def,
            #8a42ff
        );
    }

    &__copyright {
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;
        padding: 2rem 3rem;
        background-image: linear-gradient(
            to right,
            #d830bf,
            #ce25d1,
            #b51bdb,
            #9718eb,
            #6c12fd
        );
    }

    &__copyright-year {
        width: 15%;
        font-weight: bold;
        padding-right: 3rem;
        margin-right: 3rem;
        border-right: solid 1px rgba($color-light, .5);
    }

    &__copyright-links {
        width: 80%;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }

    &__copyright-link {
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__section--categories {
        width: 30%;
        margin-right: 2rem;
    }

    &__section--stickers {
        width: 20%;
        margin-right: 2rem;
    }

    &__section--apps {
        width: 20%;
        margin-right: 2rem;
    }

    &__section--about {
        width: 30%;
    }

    &__heading {
        padding-bottom: 1rem;
        border-bottom: solid 1px rgba($color-light, .5);
    }

    &__links {
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;
    }

    &__links--animated {
        animation: moveInFromTop .8s ease-out; /* animation name, duration, timing function, delay */
    }

    &__link {
        list-style-type: none;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}

// Search bar
.search-bar {
    display: flex;
    justify-content: space-between;

    &__input-container {
        width: 100%;
    }

    &__input {
        width: 100%;
        padding: 1rem;
        border: none;
        font-size: 1.5rem;

        @include respond(desktop) {
            padding: 2rem;
        }
    }

    &__icon-container {
        width: 10%;
        display: flex;
        align-items: center;
        cursor: pointer;
        background-image:linear-gradient(
            to left bottom,
            #9f36f3, #da11c8, #f61aa0, #ff4180, #fb646a
        );
    }

    &__icon {
        margin: 0 auto;
        transform: scaleX(-1);
        font-size: 2.5rem;
    }
}

// Banner
.banner {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

// Gallery
.gallery {
    &__heading {
        display: flex;
        align-items: center;
    }

    &__heading-icon {
        color: $color-blue;
        font-size: 3rem;
        margin-right: 1rem;
    }

    &__heading-text {
        font-size: 2.2rem;
    }

    &__grid {
        display: flex;
        width: auto;
    }

    &__grid-column {
        background-clip: padding-box;
    }

    &__gif-container {
        display: flex;
    }

    &__gif {
        margin: 0 auto;
    }

    &__button-container {
        text-align: center;
    }

    &__button {
        padding: 1rem;
        letter-spacing: 2px;
        background-image: linear-gradient(
            to left bottom,
            #9f36f3, #da11c8, #f61aa0, #ff4180, #fb646a
        );
        border: none;
        border-radius: 1rem;
        color: $color-light;
        cursor: pointer;
    }
}

.loading-spinner {
    text-align: center;
}
